.layout{
  display: flex;
}
.container{
  width: calc(100vw - 224px);
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.navbar{
 height: 56px;
 display: flex;
 width: 100%;
}
.navbar__form--tool{
  height: 56px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
.sidebar{
  background-color: #0F2444 !important;
}
.layout-data > .feature{
  width: 100%;
  height: 56px;
  background-color: #E6E6E6;
  display: grid;
  grid-template-columns: auto auto 12px;
  align-items: flex-end;
}
.feature{
  width: 100%;
  height: 56px;
  background-color: #E6E6E6;
  display: grid;
  grid-template-columns: auto auto 48px;
  align-items: flex-end;
}
.btn--feature{
  display: grid;
}
.feature .title{
  margin-left: 24px;
}
.
.layout-data {

  max-height: 100vh;
  margin: 0px 12px 0px 12px;
}
.content{
  width: 100%;
  height: 100%;
  background-color: #E6E6E6;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
