.data{
    width: calc(100vw- 24px -200px);
    background-color: #ffffff;
    margin:12px 24px 12px 0px 24px;
    border-radius: 4px;
    height: calc(100vh - 125px);
}

.data .feature{
    background-color: #ffffff;
}
#table{
    line-height: 48px;
    width: calc(100% - 24px); 
    border: 1px solid #E0E0E0;
    border-collapse: collapse;
    margin-left: 12px;
    height: 100%;
}
#table thead {
   background-color: #E0E0E0;
   position: sticky;
   top: 0;
   inset-inline-start: 0;
   z-index: 10; 

}
#table tr{
    position: relative;
}
thead,tbody tr,td{
    border: 1px solid #E0E0E0
}
.checked__box{
    display: grid;
    place-items: center;
}
.footer{
    border-right: none;
    border-left: none;
    position: sticky;
    bottom: 0;
    inset-inline-end: 0;
    border: none;
    background-color: #ffffff;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
tfoot{
    border-right: none;
    border-left: none;
    position: sticky;
    bottom: 0;
    inset-inline-end: 0;
    border: none;
}
tfoot tr td{
    border: none;
}
thead tr,th:first-child{
    width: 50px;
    z-index: 100;
}
thead tr,th,td:last-child{
    text-align: center;
}
#table th{
    outline: none;
    line-height: 50px;
    font-size: 14px;
   
}
#table td{
    outline: none;
    line-height: 48px;
    font-size: 14px;
   
}
.scroll__table{
height: calc(100vh - 181px);
overflow: scroll;
}
/* .txt-left{
    text-align: left ;
    margin-left: 20px !important;
  } */
.txt-center{
    text-align: center;
}

tbody,tfoot{
    background-color: #ffffff;
}
tbody tr:hover{
    background-color: #F8F8F8;
}

tbody tr:active{
    background-color: rgba(80,184,60,0.1);
}

#editRow{
    display: flex;
    justify-content: center;
    align-items: center;
}
#check{
    height: 20px;
    width: 20px;
    padding: 2px;
}
#table tfoot{
    height: 56px;
}
 tfoot tr{
    width: 100%;
    /* background-color: #E0E0E0; */
  
}
.paging{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.paging select{
    height: 36px;
    width: 200px;
    background-color: #FFFFFF;
    font-size: 14px;
}
.total-record{
    margin-left: 16px;
}
#previous,#next{
   font-size: 14px;
}
#next{
    margin-right: 16px;
}
