.combobox {
  display: flex;
  position: relative;
  border-radius: 4px;
  border: unset;
  margin-top: 10px;
  border: 1px solid #e6e6e6;
  width: 510px;
}
.combobox:has(.combobox_input:focus) {
  border: 1px solid green;
}
.combobox_input {
  border: unset;
  height: 36px;
  width: 260px;
  flex: 1;
  font-size: 14px;
}
.combobox__button {
  height: 36px;
  width: 36px;
  flex: 0 0 36px;
  border: unset;
  border: unset;
  background-color: #ffffff;
  display: grid;
  place-items: center;
  border-left: 1px solid #e6e6e6;
}
.combobox_data {
  position: absolute;
  top: calc(100% + 2px);
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 999;
   height: 150px;
   overflow-y: scroll;
  background-color:#ffffff;
}
.combobox-item {
  width: 100%;
  padding:8px 12px;
  background-color: #ffffff;
  border-radius: 4px;
  font-weight: 400;
  display: flex;
  column-gap: 30px;
  padding-left: 30px;
}
.combobox-item:hover {
  background-color: #6BC18D;
}

.combobox-item-selected {
  background-color: #033C1A;
  color: #ffffff;
}
.item-selected {
  background-color: green;
  color: #ffffff;
}
.icon-combobox {
  background: var(--image) -371px -364px;
  width: 10px;
  height: 8px;
}
.icon-combobox-select{
  background: var(--image)-1499px -309px;
  width: 20px;
	height: 20px;
}


.combobox__button:hover {
  background-color: #e6e6e6;
}

.combobox__button:active {
  background-color: #e6e6e6;
}
