.combobox {
  display: flex;
  position: relative;
  border-radius: 4px;
  border: unset;
  margin-top: 10px;
  border: 1px solid #e6e6e6;
}
.combobox:has(.combobox_input:focus) {
  border: 1px solid green;
}
.combobox_input {
  border: unset;
  height: 36px;
  width: 260px;
  flex: 1;
}
.combobox__button {
  height: 36px;
  width: 36px;
  flex: 0 0 36px;
  border: unset;
  border: unset;
  background-color: #ffffff;
  display: grid;
  place-items: center;
}
.combobox_data {
  position: absolute;
  top: calc(100% + 2px);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 100%;
  z-index: 999;
  background-color: #ffffff;
}
.combobox-item {
  border: 1px solid;
  width: 100%;
  padding:8px 12px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}
.combobox-item:hover {
  background-color: rgb(183, 210, 183);
}

.combobox-item-selected {
  background-color: rgb(40, 118, 40);
  color: #ffffff;
}
.item-selected {
  background-color: green;
  color: #ffffff;
}
.icon-combobox {
  background: var(--image) -371px -364px;
  width: 10px;
  height: 8px;
}
.combobox__button:hover {
  background-color: #e6e6e6;
}

.combobox__button:active {
  background-color: #e6e6e6;
}
