.login{
    background: url(../../../assets/img/bg3.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}
.login::before{
    content: "";
    background: linear-gradient(rgba(0,30,61,.6) 0,rgba(0,0,0,.1) 41.42%,rgba(0,0,0,.3) 100%);
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.form-login{
    height: 473px;
    width: 400px;
    background-color: #fff;
    border-radius: 8px;
    padding: 40px 48px;
    position: relative;
    box-shadow: 0 12px 20px rgba(0,0,0,.12);
}

.form-login-validate{

}

.form-login-title{
    background: url(../../../assets/img/icon-amis-platform2.svg) center no-repeat;
    width: 196px;
    height: 36px;
    font-size: 60px;
    margin: 0 54px 27px;
    background-size: contain;
}
.form-login-body{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 165px;
}

.form-login-body input{
    font-size: 16px;
    color: #212121;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 48px;
    border: 1px solid #e0e5e9;
    background: 0 0;
    padding: 14px 16px 15px 16px;
    border-radius: 3px;
 
}
.forgot-password{
    font-size: 14px;
    color: #0073e6;
    line-height: 17px;
    margin-top: 0;
    display: block;
    text-align: left;
    text-decoration: none;
    justify-self: flex-end;
}
.btn-login:hover{
    background-color: #C199FF;
}
.btn-login{
    position: relative;
    width: 100%;
    font-size: 16px;
    color: #fff;
    line-height: 40px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    height: 40px;
    border-radius: 3px;
    background: #0073e6;
    transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    display: block;
    text-decoration: none;
    outline: none;
    border: none;
    margin-top: 10px;
}
.method-login-title{
    display: inline-flex;
    width: 100%;
    align-items: center;
    margin-top: 25px;
}
.method-line{
    height: 1px;
    flex: 1;
    background-color: #9ea1a5;
}

.method-title{
    padding: 5px 10px;
    background-color: #fff;
    color: #9ea1a5;
    font-size: 14px;
}
.method-login-item{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 0 4px;
    cursor: pointer;
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}
.method-login-icon{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.method-icon-google{
   background: url(../../../assets/img/icon-google.svg);
}
.method-icon-apple{
 background: url(../../../assets/img/icon-apple.svg);
}
.method-icon-microsoft{
 background: url(../../../assets/img/icon-microsoft.svg);
}
.copy-right-text {
    padding-top: 14px;
    font-size: 12px;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: -28px;
    color: rgba(255,255,255,.6);
}
.language{
    position: fixed;
    top: 24px;
    right: 24px;
    width: 120px;
    height: 32px;
    z-index: 99;
    border-radius: 3px;
    border: 1px solid rgba(255,255,255,.3);
    line-height: 32px;
    color: #f8f8f8;
    padding: 0 16px 0 38px;
    cursor: pointer;
}
.lang-icon{
   background: url(../../../assets/img/icon-vi.svg) ;
   position: absolute;
    left: 8px;
    top: 7px;
    height: 16px;
    width: 21px;
}
.selected-language{
    line-height: 32px;
    font-size: 12px;
}
.sub-language{
    background-color: #fff;
    width: 120px;
    position: absolute;
    left: 0;
    display: none;
}
.sub-language-item{
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    color: #212121;
    padding: 0 16px 0 16px;
    width: 100%;
    display: inline-flex;
    overflow: hidden;
    white-space: nowrap;
}
.sub-language-item:hover{
    background-color: #e0e5e9;
}
.language:hover > .sub-language{
    display: block;
}
.form-user{
    position: relative;
}
 .error-text-message{
    font-size: 12px;
    color: rgb(245, 56, 56);
    font-weight: 600;
}

.form-password{
    position: relative;
}
.icon-toggle-password{
    background: url(../../../assets/img/icon-hide-pass.svg);
    display: block;
    position: absolute;
    right: 8px;
    top: 16px;
    width: 16px;
    height: 16px;
}