
@import url(./base/form/combobox.css);
@import url(./base/form/formInput.css);
@import url(./base/form/popup.css);
@import url(./base/form/toast.css);

@import url(./base/component/button.css);
@import url(./base/component/input.css);
@import url(./base/component/icon.css);
@import url(./base/component/loading.css);
@import url(./base/component/tooltip.css);

@import url(./base/layout/sidebar.css);
@import url(./base/layout/table.css);
@import url(./base/layout/navbar.css);
@import url(./base/layout/grid.css);

@import url(./base/variable.css);

@import url(./layout/employee.css);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
::-webkit-scrollbar {
    width: 5px;
    background-color: gray;
  }
/* 
@font-face {
    font-family: font;
    src: url(../assets/font/GoogleSans-Regular.otf);
} */

